.order-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 600px;
  margin: 20px auto 0;
}

.order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.order-item:last-child {
  border-bottom: none;
}

.order-image {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.product-order-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.order-details {
  flex-grow: 1;
}

.cart-actions{
  margin: 20px 0px 0px;
}

.order-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
  font-size: 1.1em;
}

.order-button:hover {
  background-color: #45a049;
}

.total-cost-button {
  margin-top: 20px;
}

.order-container {
  padding: 20px;
}

.order {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.order-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.order-image img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 15px;
}

.order-details {
  flex: 1;
}

.empty-cart {
  text-align: center;
  padding: 20px;
  font-size: 18px;
  color: #666;
}

.admin-dashboard-button {
  position: fixed;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  width: 10%;
  font-size: 1.1em;
  left: 80%;
}
.admin-dashboard-button:hover {
  background-color: #45a049;
}

