.background-container {
  position: relative;
  width: 70%;
  max-width: 1500px;
  margin: 0 auto;
}

.product-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(20% - 20px);
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.product-card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.product-card h3 {
  margin: 10px 0 5px;
}

.product-card p {
  margin: 5px 0;
}

.price-container {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.type-title {
  font-size: 2em;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 10px;
}

.catalog-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 20px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

.product-type-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease;
  width: 93px;
}

.product-type-item:hover {
  transform: scale(1.05);
}

.product-type-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.product-type-name {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.wishlist-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 6px;
  z-index: 5;
  transition: transform 0.3s ease;
}

.wishlist-button img {
  width: 30px;
  height: 30px;
}

.wishlist-button:hover {

  transform: scale(1.1);
}
