.product-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(20% - 20px);
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  cursor: pointer;
}

.product-item img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.product-item h3 {
  margin: 10px 0 5px;
}

.product-item p {
  margin: 5px 0;
}

.product-item:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.search-title {
  font-size: 2em;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 10px;
}

.search-results {
  position: relative;
  width: 70%;
  max-width: 1500px;
  margin: 0 auto;
}

.search-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.price-container {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.wishlist-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 6px;
  z-index: 5;
  transition: transform 0.3s ease;
}

.wishlist-button img {
  width: 30px;
  height: 30px;
}

.wishlist-button:hover {

  transform: scale(1.1);
}
