<div class="background-container">
  <app-filter-sort (sortChange)="onSortChange($event)"></app-filter-sort>
  <p class="type-title"> {{ typeName }}</p>
   <div class="catalog-bar">
    <div *ngFor="let type of productTypes" class="product-type-item" (click)="onTypeClick(type.typeName)">
      <img [src]="type.imageUrl" alt="{{ type.typeName }}" class="product-type-image" />
      <span class="product-type-name">{{ type.typeName }}</span>
    </div>
  </div>
  <div *ngIf="products.length > 0; else noProducts" class="product-list-container">
    <div *ngFor="let product of paginatedProducts" class="product-card" (click)="onProductClick(product)" style="cursor: pointer;">
      <div *ngIf="isLoggedIn" class="wishlist-button" (click)="toggleWishlist(product, $event)">
        <img
          [src]="wishlistedProducts.has(product.productId) ? 'wishlisticoncartred.png' : 'wishlisticoncart.png'"
          alt="Wishlist"
        />
      </div>
      <img [src]="product.imageUrl" alt="{{ product.name }}" width="200" />
      <h3>{{ product.name }}</h3>
      <div class="price-container">
        <span *ngIf="product.discountedPrice" style="color: red;">
          {{ product.discountedPrice | currency }}
        </span>
        <span *ngIf="product.discountedPrice" style="text-decoration: line-through;">
          {{ product.price | currency }}
        </span>
        <span *ngIf="!product.discountedPrice">
          {{ product.price | currency }}
        </span>
        <span *ngIf="(product.discountPercentage ?? 0) > 0" style="color: red;">
          -{{ product.discountPercentage }}%
        </span>
      </div>
      <p>Brand: {{ product.brand }}</p>
      <p>Stock: {{ product.stock }}</p>
    </div>
  </div>

  <ng-template #noProducts>
    <p>No products available for {{ typeName }}.</p>
  </ng-template>

  <div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
    <button *ngFor="let page of pages" (click)="changePage(page)" [class.active]="page === currentPage" [disabled]="page === '...'">
      {{ page }}
    </button>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
  </div>
</div>
