<header class="sticky-header">
  <div class="header-content">
    <a class="logo-link" (click)="onLogoClick()">
      <img src="WebStoreHubLogo.png" class="logo" alt="logo">
    </a>
        <button class="catalog-button" (click)="toggleCatalog()">
          <img src="Catalog.png" alt="Cart Item Icon" class="cart-item-icon"> Catalog
        </button>
        <div [class.open]="isCatalogOpen" class="catalog-bar">
          <a routerLink="/category/electronics">Electronics</a>
          <a routerLink="/category/clothing">Clothing</a>
          <a routerLink="/category/books">Books</a>
        </div>
        <div [class.open]="isCatalogOpen" class="backdrop" (click)="toggleCatalog()"></div>
        <div class="search-bar">
      <input type="text" placeholder="Search products..." class="search-input" [(ngModel)]="searchQuery">
      <button class="search-button" (click)="onSearch()">
        <img src="SearchIcon.png" alt="Search Icon" class="search-icon">
      </button>
    </div>
    <nav style="display: flex; align-items: center; gap: 15px;">
      <a routerLink="/useritemcart" class="user-item-cart">
        <button *ngIf="isLoggedIn" class="cart-button">
          <img src ="CartItemIcon.png" alt="Cart Item Icon" class="cart-item-icon"> My Cart
        </button>
      </a>
      <span *ngIf="isLoggedIn" class="username">
        <img src="UserIcon.png" alt="Shop Icon" class="shop-icon"> {{ username }}
      </span>
      <a *ngIf="!isLoggedIn" routerLink="/login" class="button">Log In</a>
      <a *ngIf="!isLoggedIn" routerLink="/registration" class="button">Sign Up</a>
      <a *ngIf="isLoggedIn" (click)="logout()" class="button">Log Out</a>
    </nav>
  </div>
</header>
