<header class="sticky-header">
  <div class="header-content">
    <a class="logo-link" (click)="onLogoClick()">
      <img src="WebStoreHubLogo.png" class="logo" alt="logo">
    </a>
    <button class="catalog-button" (click)="toggleCatalog()">
      <img src="Catalog.png" alt="Cart Item Icon" class="cart-item-icon"> Catalog
    </button>
    <div [class.open]="isCatalogOpen" class="catalog-bar">
      <button class="close-button" (click)="toggleCatalog()">X</button>
      <div class="catalog-items">
        <a *ngFor="let type of productTypes" [routerLink]="['/category', type.typeName]" (click)="closeCatalog()">
          <img *ngIf="type.imageUrl" [src]="type.imageUrl" alt="{{ type.typeName }}" class="catalog-image">
          {{ type.typeName }}
        </a>
      </div>
    </div>
    <div [class.open]="isCatalogOpen" class="backdrop" (click)="toggleCatalog()"></div>
    <div class="search-bar">
      <input type="text" placeholder="Search products..." class="search-input" [(ngModel)]="searchQuery">
      <button class="search-button" (click)="onSearch()">
        <img src="SearchIcon.png" alt="Search Icon" class="search-icon">
      </button>
    </div>
    <nav style="display: flex; align-items: center; gap: 15px;">
       <a routerLink="/wishlistitem" class="user-item-cart">
        <button class="wishlist-button">  <img src="wishlisticon.png" class="wishlist-icon">Wishlist</button>
      </a>
      <a routerLink="/useritemcart" class="user-item-cart">
        <button *ngIf="isLoggedIn" class="cart-button">
          <img src="CartItemIcon.png" alt="Cart Item Icon" class="cart-item-icon"> My Cart
          <span *ngIf="cartItemCount > 0" class="cart-item-count">{{ cartItemCount }}</span>
        </button>
      </a>
      <a routerLink="/orderitem" class="user-item-cart">
        <button *ngIf="isLoggedIn" class="username">
          <img src="UserIcon.png" alt="Shop Icon" class="shop-icon"> {{ username }}
        </button>
      </a>
      <a *ngIf="!isLoggedIn" routerLink="/login" class="button">Log In</a>
      <a *ngIf="!isLoggedIn" routerLink="/registration" class="button">Sign Up</a>
      <a *ngIf="isLoggedIn" (click)="logout()" class="button">Log Out</a>
    </nav>
  </div>
</header>
